.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

body {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  font-family: 'Poppins', sans-serif;
}

body.loaded {
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.link {
  display: inline-block;
  text-decoration: none; 
}

h1 {
  background: white;
  font-size: 3.45rem;
  font-weight: 900;
  padding: 2rem 3rem;
  max-width: 30rem;
  width: auto;
  display: inline-flex;
  letter-spacing: 0.35rem;
  align-items: center;
  justify-content: center;
  mix-blend-mode: screen;
  transition: transform 0.3s ease-in-out;
}

.link:hover h1 {
  transform: scale(1.1);
}